table {
    width: 100%;
}

.alertMsg{
    font-size: large;
    margin:130px 30px 0px 30px;
    text-align: center;
}

table{
  width: 100%;
}

td{
  padding: 10px;
}

a{
  color:blue;
  text-decoration: underline;
}

a:hover{
  color:blue;
  text-decoration: none;
  cursor: pointer;
}

a.disabled {
  color: gray;
  cursor: not-allowed;
}

button:disabled{
  cursor: default;
}

