.body {font-family: Arial, Helvetica, sans-serif;text-align:center;}
form {border: 3px solid #f1f1f1;display:inline-block;margin:30px;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.title{
    font-size: 50px;
    color:green;
    font-weight: bold;
    margin:30px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:disabled {
  opacity: 0.8;
  cursor: default;
}


.cancelbtn {
  width: auto;
  float:left;
  padding: 10px 18px;
  background-color: #f44336;
}

.regbtn{
  cursor: pointer;
  color:green;
  text-decoration: underline;
}


img.avatar {
  width: 9%;
  border-radius: 50%;
}

.container {
  padding: 16px;
  width:500px;
  
}

span.psw {
  float: right;
  padding-top: 16px;
}

.myLink {
  margin:10px;
  background-color: #caaf17;
  color: black;
  padding: 10px 21px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius:10px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

a.myLink:hover, a.myLink:active {
  
  cursor:pointer;
  color:white;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}